<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse"> 
        Below code from Line # 10 till 16 will give an Responsive effect on small screens.
        Which is the actual part of the code commented above ( line# 3-7).
        -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipe')" >Recipes </a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                  <a href="#" class="dropwdown-toggle" role="button">Manage <span class="caret"></span></a>  
                <!-- </li>
                <li class="dropdown"> -->
                    <ul class="dropdown-menu">
                        <li><a href="#">Save data</a></li>
                        <li><a href="#">Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>