<div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>
  </div>
  <div class="container">
    <div class="text-center mt-5">
      <div class="row">
          <div class="col-md-6">
              <ul class="list-group">
                  <li class="list-group-item">
                    <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/> <strong>Select/ Unselect All</strong>
                  </li>
                </ul>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of checklist">
                    <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"/>
                    {{item.value}}
                  </li>
                </ul>
          </div>
          <div class="col-md-6">
              <code> HERE IM {{checkedList}}</code>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6" >
                
              
          </div>
          <div class="col-md-6">
              
          </div>


          
      </div>



    </div>
  </div>

  <br/>
<div class="container">
  <div class="row">
       <div class="col-lg-12">
     <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <!-- <span class="glyphicon glyphicon-cog"></span> 
          <span class="caret"></span> -->
          <span class="dropdown" *ngIf="!items; else data">
              Select <span class="caret"></span>
          </span>
          <ng-template #data>
            <span class="dropdown">
              {{selectedList}}
            </span>
          </ng-template> 
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let reg of regions">
              <input type="checkbox" value="{{ reg }}" (change)="updateItem($event)" > {{ reg }}
          </li>
          <!-- <li><input type="checkbox" (change)="updateItem($event)" value="1" />&nbsp;Option 1</li>
          <li><input type="checkbox" (change)="updateItem($event)" value="2"/>&nbsp;Option 2</li>
          <li><input type="checkbox" (change)="updateItem($event)" value="3"/>&nbsp;Option 3</li>
          <li><input type="checkbox" (change)="updateItem($event)" value="4"/>&nbsp;Option 4</li>
          <li><input type="checkbox" (change)="updateItem($event)" value="5"/>&nbsp;Option 5</li>
          <li><input type="checkbox" (change)="updateItem($event)" value="6"/>&nbsp;Option 6</li> -->
        </ul>
  </div>
</div>
  </div>
</div>

<div>
    <h3><b>WFX Business and Truck Roll Type Mapping</b></h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="control-label" class="textdrop-size" style="padding-right:105px">Division</label>
      <label class="control-label" class="textdrop-size">Region</label> 
      <label class="control-label" class="textdrop-size" style="padding-right:80px">Year</label> 
      <label class="control-label" class="textdrop-size" style="padding-right:100px">Month</label> <label class="control-label" class="textdrop-size">WFX MA Group</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1 dropcol-width" style="padding:0px">
        <select class="form-control" id="division" name="division">
          <option value="division">division</option> 
        </select> 
      </div>
      <div class="col-md-1 dropcol-width">
        <select class="form-control" id="region" name="region">
          <option value="region">region</option> 
        </select> 
      </div>
      <div class="col-md-1 yearcol-width">
        <select class="form-control" id="year" name="year">
          <option value="2017">2017</option> 
          <option value="2018">2018</option> 
          <option value="2019">2019</option> 
          <option value="2020">2020</option> 
          <option value="2021">2021</option>
          <option value="2022">2022</option> 
        </select> 
      </div>
      <div class="col-md-1 dropcol-width">
        <select class="form-control" id="month" name="month">
          <option value="January">January</option> 
          <option value="February">February</option>
          <option value="March">March</option> 
          <option value="April">April</option> 
          <option value="May">May</option> 
          <option value="June">June</option> 
          <option value="July">July</option>
          <option value="August">August</option> 
          <option value="September">September</option>
          <option value="October">October</option> 
          <option value="November">November</option>
          <option value="December">December</option> 
        </select> 
      </div>
      <div class="col-md-1 dropcol-width font-14">
        <!-- <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="width:140%; padding-bottom:0px">
          <span class="dropdown" style="float:left; font-size:15px">Select MA Group</span>
          <span class="caret" style="float:right; color:black!important"></span>
        </button>
        <ul class="dropdown-menu" style="margin-left:13px">
          <div class="filter">
            <span class="fa fa-flip-horizontal"></span>
            <input type="text">
          </div>
          <li><input type="checkbox" value="reg"> reg </li>
        </ul> -->
        <button type="button" class="btn btn-default btn-sm dropdown-toggle form-control" data-toggle="dropdown">
            <!-- <span class="glyphicon glyphicon-cog"></span> 
            <span class="caret"></span> -->
            <span class="dropdown" *ngIf="!items; else data">
                Select <span class="caret"></span>
            </span>
            <ng-template #data>
              <span class="dropdown">
                {{selectedList}}
              </span>
            </ng-template> 
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let reg of regions">
                <input type="checkbox" value="{{ reg }}" (change)="updateItem($event)" > {{ reg }}
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div>
    <br><br><br><br><br>
  </div>



  <div class="col-md-4 dropcol-width font-14" (focusout)="consoleData($event)">
    <label class="control-label textdrop-size">WFX MA Group</label>
    <button #ma type="button" class="btn btn-default btn-sm dropdown-toggle form-control" data-toggle="dropdown">
      <span class="dropdown" *ngIf="!items; else data">Select MA Group
        <!-- Select <span class="caret"></span> -->
      </span>
      <ng-template #data>
        <span class="dropdown">
          {{selectedList}}
        </span>
      </ng-template>
    </button>
    <ul class="dropdown-menu" >
      <div class="filter">
        <div class="input-wrapper">
          <span class="fa fa-flip-horizontal"></span>
          <input type="text" (keyup)="filterMa($event)" />
        </div>
      </div>
      <ul id="magroup-filter">
        <li *ngFor="let reg of regions">
          <input type="checkbox" value="{{ reg }}" (change)="updateItem($event)"> {{ reg }}
        </li>
      </ul>
    </ul>
  </div>


  <br><br><br><br><br><br><br><br><br>