<div class="col-md-12">
    <table class="table table-responsive table-hover">
      <tr>
        <th class="pointer" (click)="sort('ReferenceId')">ReferenceId</th>
        <th class="pointer" (click)="sort('CategoryID')">CategoryID</th>
        <th class="pointer" (click)="sort('CategoryName')" >CategoryName</th>
        <th class="pointer" (click)="sort('Description')" >Description</th>
      </tr>
      <!-- <tr *ngFor="let item of records|orderBy: {property: column}"> -->
      <tr *ngFor="let item of records|orderBy: sortCols">
        <td>{{item.ReferenceId}}</td>
        <td>{{item.CategoryID}}</td>
        <td>{{item.CategoryName}}</td>
        <td>{{item.Description}}</td>
      </tr>
    </table>
  </div>
  
  <p>Current sort column: {{sortCols}}</p>