     <div class="row">
        <div class="col-xs-12">
          <p>Add new Servers or blueprints!</p>
          <label>Server Name</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
          <!-- Above code shows TWO-WAY data binding process -->

          
          <!-- Below input shows the local reference way of getting data -->
          <input 
            type="text" 
            class="form-control" 
            #serverNameInput
          >

          


          <label>Server Content</label>
          
          <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
          <!-- Above code shows TWO-WAY data binding process -->

          <!-- Below line of code shown as example for @ViewChild decorator 
          That is passing the DOM element to the .ts file before we make any function/method call
          using a local Reference value
          -->
          <input 
            type="text" 
            class="form-control" 
            #serverContentInput
          >
          <br>
          <button
            class="btn btn-primary" 
            style="margin-right:5px"
            (click)="onAddServer(serverNameInput)">Add Server</button>
          <button
            class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
            <p>{{serverNameInput.value}}</p>
        </div>
      </div>