<!-- After clicking the button open the modal dialog using open/close event binding methods -->
<button type="button" class="btn btn-info" (click)="openModalDialog()">Login Modal Dialog!</button>
<div>Modal Component</div>

<!-- <div class="backdrop" [ngStyle]="{'display':display}">Hello this is div tag</div> -->

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        <form [formGroup]="logedInForm" (ngSubmit) = "mdfLogin(logedInForm.value)" >
            <div>
                <input [ngClass]="{'this-is-a-class': 2 == 1}" type="text" class="textbox" name="emailId" placeholder="Email" formControlName="emailId">
            </div>      
            <div>
                <input type="password" class="textbox" name="password" placeholder="password" formControlName="password">
            </div>
            <div>
                <input type="submit" class="btn btn-info btn-lg" value="LogIn" [disabled] = "!logedInForm.valid">
            </div>
            <div>
                <p>EmailId Is  - {{emailId}} and Password is - {{password}}</p>
            </div>
        </form>
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>