<button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
<!--        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button> -->
       <h4 class="modal-title">Model Title from parent</h4>

     </div>
     <div class="modal-body">
        <app-child (messageEvent)="receiveMessage($event)"></app-child>
     </div>
    <!--      <div class="modal-footer">
           <button type="button" class="btn btn-default" (click)="onCloseHandled()" >submit</button>
         </div> -->
       </div> 
     </div> 
    </div> 
     