<div style="border:1px double blue; margin-bottom: 10px; padding:5px;">
<p>Servers Component is loading fine</p>

<input type="text" (input)="onUpdateServerName($event)" />

<input type="text" placeholder="TWO WAY DATA BINDING CONCEPT" [(ngModel)]="myName" />
<p> {{myName}} </p>


<!---The below code  [disabled]="!allowNewServer" is a PROPERTY BINDING -->
<button 
class="btn btn-success mb-5" 
[disabled]="!allowNewServer"
(click)="createServer()"
>Create New server</button>
<!--even the below code [innerText]="allowNewServer" is also property binding -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!--The below code shows the String interpolation-->
<!-- {{allowNewServer}} -->

<!-- <p>{{serverCreatedStatus}}</p> -->
<!-- <p *ngIf="serverCreatedFlag">New server is created. Name is : {{ serverCreatedStatus }} </p> -->
<p> *ngIf with else condition also impleted local template variable.</p>
<br>
<p *ngIf="serverCreatedFlag; else noServerData" [ngStyle]="{ backgroundColor:getColor()}"> Server Created, name is {{ serverCreatedStatus }}</p>

    <ng-template #noServerData>
        <p [ngStyle]="{ 'background-color':getColor()}">No server created yet.</p>
    </ng-template>

<div>
    <p>Assignment</p>
    <input type="text" [(ngModel)]="username" />
    <p>{{ username }}</p>

    <button class="btn btn-primary" [disabled]="username === ''" (click)="clearUserName()">1st Approach Reset Username</button>
    <button class="btn btn-primary" [disabled]="username === ''" (click)="username=''">2nd Approach Reset Username</button>
</div>

<p [ngClass]="{errorMsg: serverCreatedFlag===true}">This is the error message text.</p>

</div>