<app-check-uncheck></app-check-uncheck>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  
</div>

<div class="col-md-6">
  <input type="number" [(ngModel)]="myName" pattern="(^\d*\.?\d*[1-9]+\d*$)|(^[1-9]+\d*\.\d*$)" min="-100" max=100>
  
  <p>{{ myName }}</p>
  <p>{{ name }}</p>
</div> -->
<!-- <button [disabled]="!isDiabled" class=" btn btn-info btn-xs" (click)="enableBtn()">Click me</button> -->
<!-- <input type="text" pattern="^$|^(([0]|-[1-9]|-[1-9][0-9])(\.[0-9])?|-[1][0][0])" /> -->



<!-- <form>
  <input name='validate' #validate='ngModel' ngModel type="text" pattern="[0-9]{0,12}" required />
  0 or 12 Digit : {{ validate.valid }} <br/>
  <input name='validate2' #validate2='ngModel' ngModel type="text" pattern="[0-9]{12}" required/>
  Exact 12 digit : {{ validate2.valid }}

  <input type="text" pattern="[^a-zA-Z0–9_]" >
  </form>


<app-server></app-server>
<router-outlet></router-outlet> -->
<!-- <app-servers></app-servers> -->
<app-sign-up-form> </app-sign-up-form>
<nav>
  <!-- <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a> -->
  <!-- <a routerLink="/heroes" routerLinkActive="active">Heroes</a> -->
</nav>


<div class="container">

    <!-- <div class="row service-based-block">
      <div class="msg-text">Sharing data between multiple components</div>
      <select (change)="updateCartValue($event.target.value)">
        <option value="">Select qty</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>


      <app-cart-icon></app-cart-icon>
    </div> -->

<!---
https://stackblitz.com/edit/angular-communication-3?file=app%2Fside-bar-toggle%2Fside-bar-toggle.component.ts
-->

  <div class="row">
     <div class="col-xs-12">
       <h3>I'm in the AppComponent</h3>
       <hr>
       <!-- Default way of calling selector--->
       <app-servers></app-servers> 


      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
       <!-- <div app-servers></div> -->
       <!-- <div class="app-servers"></div> -->
     </div>
  </div>
</div>


<!-- <app-modal-popup></app-modal-popup> -->

<!-- <app-sort></app-sort> -->

<!-- 
  NOT WORKING We need to see  -->
  <!-- <button mat-raised-button
   matTooltip = "Sample Tooltip"
   aria-label = "Sample Tooltip">
   Click Me!
</button> 

<i title="Good evening">Hello</i> -->



<div class="assignment row" style="display: none;">
  <div class="col-xs-12">
    <p>Assignment</p>
        <ul>
            <li>Add a button which says "Display Details"</li>
            <li>Add a paragraph with any conent</li>
            <li> Log all button clicks in an array & output that array below</li>
            <li>Starting at the 5th Item, add a css styles - backgroundcolo:blue & text-color:white</li>
          </ul>
    </div>
    <!-- <button class="btn btn-primary mb-10" (click)="displayMsg = !displayMsg">Display Details</button> 1st way of approach-->
    <p *ngIf="displayMsg">Secret Password = tune</p>
    <button class="btn btn-primary mb-10" (click)="displayMessage()">Display Details</button>
    <div 
    *ngFor="let logItems of log; let i = index "
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue':''}"
    [ngClass]="{'white-text': i >= 4}"
    >
      {{ logItems }}

    </div>
<!--HINT: In the line [ngClass]="{ 'white-text': logItems >= 5}" we used single-Quote between white-text because we have a - in between the two words -->

  </div>



    