<app-header (featureSelected)="onNavigation($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <select name="year">
        <option *ngFor="let yr of years" value="{{ yr }}">{{ yr }}</option>
      </select>
    </div>
    <div class="col-md-6">
      <select name="months">
        <option *ngFor="let month of displayMonths" value="{{ month }}">{{ month }}</option>
      </select>
    </div>
  </div>
</div>

<!-- <app-modal-popup></app-modal-popup> -->
<!--
<div class="container">
    <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary"
        (click)="onChangeFirst()">Change first Element</button>

        <button class="btn btn-danger " [ngStyle]="{'margin': '10px'}"
        (click)="onDestroyFirst()"
        >Destroy First component</button>

        <app-server-element 
        *ngFor="let serverElement of serverElements" [srvElement]="serverElement"
        [name]="serverElement.name"
        >
-->
          <!-- Below code is added from serverElement into the app component.html file -->
<!--          
  <p #contentParagraph>
              <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
              <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
    <hr>
    <span>Assignment section</span>
-->
    <!-- Udemy assignment : Section - 81 -->
<!-- 
      <div class="row">
      <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-odd>
      </div>
    </div>

  </div> 
-->
  


  
<!-- open a modal window by clicking button  basic bootstrap-->


 <!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>
<div [ngStyle]="{'display': loaderDisplay}">
  Loading....
</div>



<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title">Model Title</h4>

     </div>
     <div class="modal-body">
       <p>Model body text</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="onCloseHandled()" >submit</button>
     </div>
   </div> 
 </div> 
</div>   -->

<!-- <table>
  <thead>
    <th>Row - 1</th>
  </thead>

  <tbody *ngIf="quotaDashboard.length > 0; else noDataAva">
      <ng-container *ngFor="let obj of quotaDashboard | orderBy: {property: column, direction: direction}; let i = index "> -->
          
        <!-- <tr ng-repeat="let obj of quotaDashboard | orderBy:'year'" >-->
            
              <!-- <tr (click)="setSelectedRow(obj)">
                <td><input type="checkbox" [checked]="obj.isOfficial==true" (change)="officialCheck" ></td>
              </tr>
             
      </ng-container>
  </tbody>

<ng-template #noDataAva>
  <tbody>
    <tr>
      <td>No data available</td>
    </tr>
  </tbody>
</ng-template>
</table> -->

<!-- <app-check-uncheck></app-check-uncheck> -->

<!-- <app-parent></app-parent> -->

<!-- <p appBetterHighlight>This is custom directive created to show it style effects</p> -->

<!-- 
  ngSwicth block code
  <div [ngSwitch]="value">
  <p *ngSwitchCase="1">Value is 1</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchCase="1000">Value is 1000</p>
  <p *ngSwitchCase="10000">Value is 10000</p>
  <p *ngSwitchCase="100000">Value is 100000</p>
  <p *ngSwitchDefault> Value is something else </p>
</div> -->

<!--

Below code is an example for Communicating the data between multiple components using
services.
-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  </div>
</div>