h3 {
    color: darkblue;
}

p {
    font-weight:bold !important;
}

.msg-text {
    color:blue;
    font-style: italic;
    padding-bottom: 10px;
}

.service-based-block {
    border:1px solid blue;
    width: 25%;
    padding:10px;
}

.success-alert-block {
    border: 1px solid green;
    padding:5px;
}

.assignment {
    display: block;
    border:1px solid blue;
    margin:10px;
}

.white-text
{
    color:white;
}


.container {
    margin-top: 30px;
  }
  
  p {
    color: blue;
  }