<div class="success-alert-block">
    <span>
        <b>Success Alert Component</b>
    </span>
    <p>success-alert works!</p>
    <span>{{minusSymbol}}</span>
    <input type="number" (focus)="addMinus()" (focusout)="removeMinus()" name="twoWayData" size="100" [(ngModel)]="twoWayBindingExample" (blur)="showText()" > 

    <div>
        {{showMessage(twoWayBindingExample)}}
    </div>


    <div>
        <input type="number" name="number" (change)="allowRestrict($event)" [(ngModel)]="numberVal" >
    </div>

</div>