<div class="row custom-row" style="padding:10%">
    <div class= "col-sm-5 custom-container col-md-12">
         
      <form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
          <fieldset>
            <legend>SignUp</legend>
           
              <!--- Email Block --->
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <!-- <input type="text" id="inputEmail" placeholder="Email" class="form-control" 
                    [formControl]="email"> -->
                    <input type="text" formControlName="email" id="inputEmail" placeholder="Email">

                    <div *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched" class="col-sm-3 text-danger">
                
                        <div *ngIf = "signupForm.controls.email.errors?.required">
                            Email field can't be blank
                        </div>
                
                        <div *ngIf = "signupForm.controls.email.errors?.pattern">
                            The email id doesn't seem right
                        </div>
                
                    </div>
              </div>
              <!--- Password Block --->
              <div formGroupName = "password">
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password"
                  id="inputPassword"
                  placeholder="Password" formControlName="pwd">

                  <!-- Password error block -->
                <div *ngIf="(signupForm.controls.password.invalid && signupForm.controls.password.touched)" class="col-sm-3 text-danger">
                    Password needs to be more than 8 characters
                </div>
              </div>
       
              <div class="form-group">
                <label for="confirmPassword" >Confirm Password</label>
                <input type="password"
                  id="confirmPassword"
                  placeholder="Password" formControlName="confirmPwd">
              </div>
            </div>
              <!--- Select gender Block --->
              <div class="form-group">
                <label for="select">Gender</label>
                <select id="select" formControlName="gender">
                    <option *ngFor="let g of genderList"
                      [value] = "g"> {{g}} 
                    </option>
                  </select>
              </div>

              <div class="form-group">
                  <select id="yearVal" formControlName="year">
                    <option *ngFor="let yr of year; let i = index" value='{{yr}}'>
                      {{yr}}
                    </option>
                  </select>
              </div>


              <div class="form-group radio">
                <input type="radio" name="person[]" value="1" /> One <br>
                <input type="radio" name="person[]" value="2" /> Two <br>
                <input type="radio" name="person[]" value="3" /> Three <br>
                <input type="radio" name="person[]" value="4" /> Four <br>
                <input type="radio" name="person[]" value="5" /> Five<br>
              </div>
               
              <!--- Terms and conditions Block --->
               <div class="form-group checkbox">
                <label>
                  <input type="checkbox" formControlName="terms"> Confirm that you've read the Terms and 
                  Conditions
                </label>

                <!--- Terms error block -->
                <div *ngIf="(signupForm.controls.terms.invalid && signupForm.controls.terms.touched)" class="col-sm-3 text-danger">
                    Please accept the Terms and conditions first.
                </div>

              </div>
              
             <!--- Buttons Block --->
              <div class="form-group">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button type="submit" [disabled] = "!signupForm.valid" class="btn btn-primary">Submit</button>
              </div>
          </fieldset>
      </form> <p>Form value {{ signupForm.value | json }} </p>
      <p> Form status {{ signupForm.status | json}} </p>
    </div>
  </div>

